<div id="loading_image" align="center">
    <img src="images/loading.gif"/></img>
</div>




<div class="container" id="content">
    <h2>Chọn hạng mục</h2>
    <!-- Nav tabs -->
    <%- include('../partials/navi-menu') %>

    <!-- Tab panes -->
    <div class="tab-content">
        <%- include('../partials/tabs/tabDangKyNghi') %>
        <%- include('../partials/tabs/tabDangKyTangCa') %>
        <%- include('../partials/tabs/tabLichSuNghi') %>
        <%- include('../partials/tabs/tabDieuChuyenNS') %>
        <%- include('../partials/tabs/tabDiemDanhNhom') %>
        <%- include('../partials/tabs/tabPheDuyetNghi') %>
        <%- include('../partials/tabs/tabLichSuDiemDanh') %>
        <%- include('../partials/tabs/tabHuongDanSD') %>
        <%- include('../partials/tabs/tabDiemDanhTong') %>
    </div>
</div>
